.perfil {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  gap: 20%;
  background-color: #f5f5dc;
}

.perfil img {
  height: 5%;
  width: 15%;
  border-radius: 500px;
}

.perfil form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20%;
  width: 10%;
  font-size: larger;
}

.perfil fieldset {
  display: flex;
  gap: 5%;
}

.perfil div,
span {
  display: flex;
  flex-direction: column;
}

.perfil div {
  height: 80%;
  gap: 15%;
}

.perfil form input {
  border-radius: 20px;
  text-align: justify;
}

.perfil form input[type='submit'] {
  background: #5f3030;
  border-radius: 12px;
  color: white;
  text-transform: uppercase;
}

.perfil p {
  width: 400px;
  margin-bottom: 100%;
  margin-top: 10%;
}

.livros-retirados {
  padding-top: 5%;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5dc;
  align-items: center;
}

.livros-retirados h2 {
  font-size: xx-large;
  padding-bottom: 3%;
}

#display-livros {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8%;
}
