div.body{
    display: block;
    background-color: #ADCCAE;
    /* vertical | horizontal */
    padding: 2rem 3rem;
  }
  
  div .title{
    /* superior | direita | inferior | esquerda */
    padding: 2% 0% 0% 5%;
    display: inline-block;
  }
  form{
    
    display: inline-block;
    margin-left:10%;
  }
  form input{
    text-align: center;
  }
  .perfilicone{
    display:flex ;
    align-items: center;
    float: right;
    height: min-content;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: #fff;
    font-size: 95px;
  }
  